@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800&display=swap');

body {
  background-image: url(https://c1.wallpaperflare.com/preview/811/367/789/technology-computer-creative-design.jpg);
  background-color: #f9faff !important;
  color: #ffffff !important;
  font-family: 'Poppins', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
}
.top-m{
  margin-top: 12%;
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar {
  background-color: #f9faff !important;
}

.navbar__links {
  color: #212145 !important;
}

.navbar-nav li a:hover {
  color: #5869de !important;
}

.navbar__logo {
  color: #5869de !important;
  font-weight: bold;
  font-size: 1.5rem;
}

.home__container {
  height: 30rem;
  padding: 8rem;
}
.home__container-post {
  min-height: 40rem;
  overflow: hidden;
}

.blog-heading {
  text-align: center;
  font-weight: bold;
  font-size: 4rem;
}

.blog-sub-heading {
  text-align: center;
  font-size: 2rem;
}

.card {
  box-shadow: 2px 6px 16px 3px #3b3b86;
  background-color:#2b46df;
}
.card-title{
  font-weight: bold;
}
.card-text {
  min-height: 90px;
  max-height: 90px;
  overflow: hidden;
}
.btn-primary {
  background-color: #576de6 !important;
}

.btn-primary:hover {
  background-color: #2b46df !important;
}

.home__write-btn {
  background-color: #576de6;
  margin-left: 6rem;
}

.compose__container {
  min-height: 35rem;
  padding: 5rem;
}

.site-footer {
  background-color: #576de6;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #fff;
}
.site-footer hr {
  border-top-color: #ff0505;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #fff;
}
.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #fff;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #e6e6ff;
}
.copyright-text {
  margin: 0;
}
@media (max-width: 991px) {
  .site-footer [class^='col-'] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
